/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* html {
  font-size: 62.5%;
  
} */

body {
  background-color: #0a1417 ;
  
  font-family: 'Mulish', sans-serif;
  
}

.header {
  width: 100%;
  height: 80px;
  /* background-color: #0a1417 ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 200px;
  /* height: 50px; */ */
  margin-top: 10px;
  /* margin-left: 10px; */
}

.header__menu {
  margin-right: 50px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px -14px;
  
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}


.header__menu--profile {
  margin-right: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}

.header__menu--profile p {
  margin: 0;
  color: white;
}

.main {
  height: 300px;
}

.main__title {
  color: white;
  font-size: 25px;
}

.input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  height: 50px;
  padding: 0px 20px;
  width: 70%;
}

::placeholder {
  color: white;
}

.login {
  background: linear-gradient(#1eae98, #aa2ee6);
  display: flex;
  align-items: center; /*alineación vertical*/
  justify-content: center; /*alienación horizontal*/
  flex-direction: colum;/*elementos se colocan de arriba a abajo*/
  padding: 0px 30px;
  min-height: calc(100vh - 200px);/*Cálculo en base a los que está viend el usuario*/

}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);/*color más claro que el fondo*/
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60 px 68 px 40 px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
  
.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}

.login__container--register {
  font-size: 14px;
}

.login__container--register a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}

::placeholder {
  color: white;
}

.buttom {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Mulish', sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.footer {
  background-color: #aa2ee6);
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
